acceptance-tests/
.project
.settings
application/.classpath
application/bin

*.swp
*.pid
*.DS_Store
*.iml
*.log
*.bak

**/.gradle
**/build
**/logs
**/node_modules
**/out

**/.idea/copyright/
**/.idea/libraries/
**/.idea/codeStyles/
**/.idea/scopes/
**/.idea/shelf/
**/.idea/*.xml
**/.idea/runConfigurations/
**/.idea/dictionaries
/gradle.properties

application/src/main/js/package-lock.json
application/src/main/resources/public/

.idea
target
build
.gradle
**/*.iml
application/target
application/build
application/out
logs
